mixin review(params = {})
  -
    const {
      reviewText= "",
      reviewUserName= "",
      reviewTourName= "",
      avatarImgSrc= "",
      avatarImgAlt= "",
    } = params;

  .review
    p.review__text
      != reviewText
    .review__user-block
      .review__user-content
        h3.review__user-name= reviewUserName
        p.review__tour-name Тур: #{reviewTourName}
      img.review__avatar(src= avatarImgSrc alt= avatarImgAlt)
