mixin reviews(params= {})
  -
    const {
      reviewsTitleText= "",
      reviewsSubtitleText= "",
      reviewsItems= [],
    } = params;

  .reviews
    .reviews__container
      .reviews__heading
        h2.reviews__title= reviewsTitleText
        p.reviews__subtitle= reviewsSubtitleText
      ul.reviews__list
        each reviewsItem in reviewsItems
          li.reviews__item
            -
              const {
                reviewText,
                reviewUserName,
                reviewTourName,
                avatarImgSrc,
                avatarImgAlt,
                } = reviewsItem;
            p.reviews__text
              != reviewText
            .reviews__user-block
              .reviews__user-content
                h3.reviews__user-name= reviewUserName
                p.reviews__tour-name Тур: #{reviewTourName}
              img.reviews__avatar(src= avatarImgSrc alt= avatarImgAlt)

