mixin promo(params= {})
  -
    const {
      pageTitle= "",
      promoSubtitleText= "",
      promoButtonText= "",
    } = params;

  .promo
    .promo__gradient
      .promo__container
        h1.promo__title= pageTitle
        p.promo__subtitle= promoSubtitleText
        a.promo__button= promoButtonText