include ../input-group/input-group
include ../radio-group/radio-group
include ../checkbox/checkbox
include ../form-button/form-button

mixin tour-form(params= {})
  -
    const {
      touFormTitleText= "",
      touFormSubtitleText= "",
      inputNameTitleText= "",
      inputNameType,
      inputNameName,
      inputNamePlaceholder,
      inputNamePattern,
      inputNameAutofocus,
      selectTitleText= "",
      selectedOptionText= "",
      valueSelect1= "",
      valueSelect2= "",
      inputEmailTitleText= "",
      inputEmailType,
      inputEmailName,
      inputEmailPlaceholder,
      inputEmailPattern,
      inputTelTitleText= "",
      inputTelType,
      inputTellName,
      inputTelPlaceholder,
      inputTelPattern,
      inputDateFromTitleText= "",
      inputDateFromType,
      inputDateFromName,
      inputDateFromPlaceholder,
      inputDateToTitleText= "",
      inputDateToType,
      inputDateToName,
      inputDateToPlaceholder,
      textareaTitleText= "",
      inputRadioTitleText= "",
      firstInputRadioName,
      firstInputRadioValue,
      firstInputRadioLabelText,
      secondInputRadioName,
      secondInputRadioValue,
      secondInputRadioLabelText,
      checkboxLabelText,
      checkboxLinkText,
      checkboxLinkHref
    } = params;

  .tour-form
    .tour-form__container
      .tour-form__heading
        h2.tour-form__title= touFormTitleText
        p.tour-form__subtitle
          != touFormSubtitleText
      form.tour-form__form
        fieldset.tour-form__fieldset
          .tour-form__input-field.tour-form__input-field_name
            h4.tour-form__input-title= inputNameTitleText
            .tour-form__input-group
              +input-group({
                type: inputNameType,
                name: inputNameName,
                placeholder: inputNamePlaceholder,
                pattern: inputNamePattern,
              })
          .tour-form__input-field.tour-form__input-field_select
            h4.tour-form__input-title= selectTitleText
            .tour-form__select-wrapper
              select.tour-form__select(name="select-direction" required)
                option.tour-form__option(value="" disabled selected hidden)= selectedOptionText
                option.tour-form__option(value=valueSelect1)= valueSelect1
                option.tour-form__option(value=valueSelect2)= valueSelect2
          .tour-form__input-field.tour-form__input-field_email
            h4.tour-form__input-title= inputEmailTitleText
            .tour-form__input-group
              +input-group({
                type: inputEmailType,
                name: inputEmailName,
                placeholder: inputEmailPlaceholder,
                pattern: inputEmailPattern,
              })
          .tour-form__input-field.tour-form__input-field_tel
            h4.tour-form__input-title= inputTelTitleText
            .tour-form__input-group
              +input-group({
                type: inputTelType,
                name: inputTellName,
                placeholder: inputTelPlaceholder,
                pattern: inputTelPattern,
                isMasked: true,
                id: "phone1",
              })
          .tour-form__input-field.tour-form__input-field_date-from
            h4.tour-form__input-title= inputDateFromTitleText
            .tour-form__input-group
              +input-group({
                type: inputDateFromType,
                name: inputDateFromName,
                placeholder: inputDateFromPlaceholder,
                onfocus: "(this.type='date')",
              })
          .tour-form__input-field.tour-form__input-field_date-to
            h4.tour-form__input-title= inputDateToTitleText
            .tour-form__input-group
              +input-group({
                type: inputDateToType,
                name: inputDateToName,
                placeholder: inputDateToPlaceholder,
                onfocus: "(this.type='date')",
              })
          .tour-form__input-field.tour-form__input-field_textarea
            h4.tour-form__input-title= textareaTitleText
            textarea.tour-form__textarea(name="comment")
        .tour-form__input-field
          h4.tour-form__input-title= inputRadioTitleText
          .tour-form__radio-content
            .tour-form__radio-group
              +radio-group({
                inputRadioName: firstInputRadioName,
                inputRadioValue: firstInputRadioValue,
                inputRadioLabelText: firstInputRadioLabelText,
              })
            .tour-form__radio-group
              +radio-group({
                inputRadioName: secondInputRadioName,
                inputRadioValue: secondInputRadioValue,
                inputRadioLabelText: secondInputRadioLabelText,
              })
        .tour-form__checkbox
          +checkbox({
            isChecked: false,
            checkboxLabelText,
            checkboxLinkText,
            checkboxLinkHref,
          })
        .tour-form__buttons
          .tour-form__button
            +form-button({
              buttonType: "submit",
              buttonText: "Найти тур"
            })
          .tour-form__button
            +form-button({
              buttonType: "button",
              buttonText: "Сбросить",
              forReset: true,
            })